.advertisements {
	display: flex;
	flex-direction: column;
	grid-column: 1 / 13;
}

.advertisements__content {
	/* aspect-ratio: 4/3; */
	background-color: var(--third-color);
	color: var(--first-color);
}