.advertisements {
	grid-column: 1 / 13;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	background: url('/assets/images/ad-background.png');
	background-size: contain;
	font: var(--font-large-text);
}

.advertisements__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	aspect-ratio: 4/3;
	background-color: var(--third-color);
	color: var(--first-color);
}

/* desktop */
@media screen and (min-width: 768px) {

	.advertisements {
		grid-column: 4 / 13;
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}
}