.article-overview__1-container,
.article-overview__2-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	grid-column: 1 / 13;
}

.article-overview {
	display: flex;
	flex-direction: column;
}

.article-overview__image {
	width: 100%;
}

.article-overview__image img {
	width: 100%;
	height: auto;
	display: block;
}

.article-overview__card {
	background-color: var(--second-color);
	color: var(--first-color);
	padding: 0.8rem;
}

.article-overview__header {  
	font: var(--font-body-text);
}

.article-overview__title {
	font: var(--font-large-text);
}