.main {
	display: flex;
	flex-direction: column;
	grid-column: 1 / 13;
}

.main__article {
	display: flex;
	flex-direction: column;
	grid-column: 1 / 13;
}

.main__article-firstimage {
	width: 100%;
	margin-bottom: 1rem;
}

.main__article-firstimage img {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 1rem;
}

.main__article-heading {
	font: var(--font-large-text);
	margin-bottom: 4rem;
}

.main__article-text {
	font: var(--font-body-text);
	margin-bottom: 4rem;
	width: fit-content;
	text-align: left;
}

.main__article-pretitle {
	font: var(--font-body-text);
}

.main__article-figcaption {
	font: var(--font-small-text);
	margin-bottom: 4rem;
}

@media screen and (min-width: 1100px) {

	.sidebar {
		grid-column: 1 / 4;
	}

	.main {
		display: grid;
		grid-column: 4 / 13;
	}

	.main__article {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		margin-top: 2rem;
	}

	.main__article__pretitle {
		grid-column: 2 / 5;
		font: var(--font-body-text);
	}

	.main__article-heading {  
		display: grid;
		grid-column: 2 / 9;
		font: var(--font-large-text);
		line-height: normal;
		margin-bottom: 2rem;
		letter-spacing: 0.07rem;
	}

	.main__article-firstimage {
		grid-column: 1 / 10;
		width: 100%;
		margin-bottom: 1rem;
	}
	
	.main__article-firstfigcaption {
		grid-column: 2 / 8;
		font: var(--font-small-text);
		margin-bottom: 2rem;
	}
	
	.main__article-text {
		grid-column: 2 / 6;
		font: var(--font-body-text);
		margin-bottom: 2rem;
		font-weight: 100;
	}
	
	.main__article-secondimage {
		grid-column: 2 / 9;
		width: 100%;
		margin-bottom: 1rem;
	}
	
	.main__article-secondfigcaption {
		grid-column: 2 / 6;
		font: var(--font-small-text);
		margin-bottom: 2rem;
	}

}