.sidebar__events {
	display: none;
}

.sidebar__events-headline {
	display: none;
}

/* desktop */
@media screen and (min-width: 1100px) {
	.sidebar__events {
		display: block;
	}

	.sidebar__events-container {
		border-top: 1px solid var(--second-color);
	}

	.sidebar__events-headline {
		display: block;
		margin-top: 1rem;
	}

	.sidebar__events-buttons {
		margin: 0.5rem 0 1rem 0;
	}

	.sidebar__events-button {
		border: 1px solid var(--second-color);
		padding: 0 0.5rem;
		margin: 0 0.1rem;
		background-color: transparent;
		border-radius: 50px;
		font: var(--font-body-text-uppercase);
	}

	.sidebar__events-button:hover {
		background-color: var(--second-color);
		color: var(--first-color);
	}

	.sidebar__events-title{
		font: var(--font-body-text-uppercase);
	}

	.sidebar__events-event-category {
		font: var(--font-small-text-uppercase)
	}
	.sidebar__events-event-date {}
	.sidebar__events-event-time {}
	.sidebar__events-event-title {}
}