
.header__menu-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.2rem;
	height: 1.5rem;
	background: none;
	border: none;
	cursor: pointer;
}

.header__menu-button-burger {
	width: 2.2rem;
	height: 0.2rem;
	background-color: var(--second-color);
}

.header__menu-button-burger::before,
.header__menu-button-burger::after {
	content: '';
	position: absolute;
	left: 0;
	width: 2.2rem;
	height: 0.2rem;
	background: var(--second-color);
}

.header__menu-button-burger::before {
	transform: translateY(-0.6rem);
}

.header__menu-button-burger::after {
	transform: translateY(0.6rem);
}

/* translate the burger-menu to an X */
.header__menu-button--visible .header__menu-button-burger {
	transform: translateX(2.5rem);
	background: transparent;
	box-shadow: none;
}

.header__menu-button--visible .header__menu-button-burger::before {
	transform: rotate(45deg) translate(-35px, 35px);
}

.header__menu-button--visible .header__menu-button-burger::after {
	transform: rotate(-45deg) translate(-35px, -35px);
}


/* navigation */
.header__menu-button-content {
	display: none;
}

.header__content--sticky .header__menu-button-content {
	padding: 0 0.5rem;
}


.header__menu-button-content--visible {
	display: flex;
	flex-flow: column;
	width: 100%;
	background-color: var(--first-color);
	position: absolute;
	top: 3.4rem;
	left: 0;
}

.header__menu-button-link {
	color: var(--second-color);
	font: var(--font-large-text);
	text-decoration: none;
}


/* change colors to "darkmode" on article page */
.darkmode .header__menu-button div::before,
.darkmode .header__menu-button div::after,
.darkmode .header__menu-button div {
	background-color: var(--first-color);
}

.darkmode .header__menu-button--visible .header__menu-button-burger {
	background-color: transparent;
}

.darkmode .header__menu-button-content--visible .header__menu-button-link {
	background-color: var(--second-color);
	color: var(--first-color);
}


/* desktop */
@media screen and (min-width: 1100px) {
	.header__menu-button {
		display: none;
	}

	
	/* navigation */
	.header__menu-button-content {
		display: flex;
		flex-flow: column;
	}

	.header__menu-button-link {
		font: var(--font-large-text-link);
	}


	/* change colors on article dark page */
	.darkmode .header__menu-button-link {
		color: var(--first-color);
	}
}