/* mobile first */

.header {
	grid-column: 1 / 13;
	margin-bottom: 1rem;
	width: 100%;
} 

.header__logo {
	grid-column: 1 / 13;
}

.header__logo img {
	width: 100%;
}

.header__logo-image-hover--true {
	display: none;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	position: sticky;
	top: 0;
	z-index: 1;
}

.header__content--sticky {
  position: fixed;
  margin: 0.5rem;
  top: -0.5rem;
  left: -0.5rem;
  width: 100vw;
  background-color: var(--first-color);
  padding: 1rem var(--padding) 1.5rem var(--padding);
}

.header__text {
	font: var(--font-large-text);
	font-size: 9vw;
	color: var(--second-color);
}

.header__text-link {
	text-decoration: none;
}

.header__search-button {
	display: none;
	background: none;
	border: none;
}

/* Darkmode */
.darkmode .header__text {
	color: var(--first-color);
}

.darkmode .header__content--sticky {
	background-color: var(--second-color);
}

/* desktop */
@media screen and (min-width: 1100px) {

	.header {
		grid-column: 1 / 4;
	}

	.header__logo:hover > a > .header__logo-image-hover--false {
		display: none;
	}

	.header__logo:hover > a > .header__logo-image-hover--true {
		display: block;
		margin-bottom: 0.26rem;
	}

	.header__content {
		display: grid;
		grid-column: 1 / 4;
	}

	.header__content--sticky {
		display: none;
	}

	.header__text {
		grid-column: 1 / 4;
		font: var(--font-large-text)
	}

}