/* mobile first */

.header {
	grid-column: 1 / 13;
	margin-bottom: 2rem;
} 

.header__logo {
	grid-column: 1 / 13;
	grid-column-start: 1;
	grid-column-end: 13;

}

.header__logo-image {
	width: 100%;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
	position: sticky;
	top: 0;
	z-index: 1;
}

.header__content--sticky {
  position: fixed;
  margin: 1rem;
  top: -1rem;
  left: -1rem;
  width: 100vw;
  background-color: var(--first-color);
  padding: var(--padding);
}

.header__text {
	font: var(--font-large-text);
	font-size: 9vw;
	color: var(--second-color);
}

.header__search-button {
	display: none;
	background: none;
	border: none;
}

/* Darkmode */
.darkmode .header__text {
	color: var(--first-color);
}

.darkmode .header__content--sticky {
	background-color: var(--second-color);
}