.information {
   display: flex;
   flex-direction: column;
   grid-column: 1 / 13;
}

.information__heading {  
   font: var(--font-large-text);
   margin: 0 0 2rem 0;
}

.information__image {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}

.information__heading:nth-child(3) {  
   font: var(--font-large-text);
   margin: 2rem 0 2rem 0;
}

.information__text {
   font: var(--font-body-text);
   margin-bottom: 2rem;
}

.information__text p:not(:first-child) {
   text-indent: 2.5rem;
}

/* Desktop */
@media screen and (min-width: 768px) {

   .information {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-column: 4 / 13;
		margin-top: 2rem;
   }

   .information__image {
		grid-column: 2 / 9;
      width: 100%;
		height: auto;
   }
   
   .information__heading {  
      font: var(--font-large-text);
      margin: 0 0 2rem 0;
		grid-column: 2 / 8;
   }
   
   .information__heading:nth-child(3) {  
      margin: 2rem 0 2rem 0;
   }
   
   .information__text {
      font: var(--font-body-text);
      margin-bottom: 2rem;
		grid-column: 2 / 6;
   }
   
   .information__text p:not(:first-child) {
      text-indent: 2.5rem;
   } 
}