.information {
	display: flex;
	flex-direction: column;
	grid-column: 1 / 13;
}

.information__heading {  
	font: var(--font-large-text);
	margin: 4rem 0 4rem 0;
}

.information__text {
	font: var(--font-body-text);
	margin-bottom: 1.5rem;
}

p:not(:first-child) {
	text-indent: 5rem;
}