.subscribe {
	width: 96.7%;
	position: fixed;
	bottom: 1rem;
	z-index: 100;
	right: 1.7%;
}

.subscribe__button {
	width: 100%;
	padding-top: 0.6rem;
	padding-bottom: 0.3rem;
	padding-left: 1rem;
	padding-right: 0.7rem;
	background-color: var(--fourth-color);
	font: var(--font-large-text);
	font-size: 8vw;
	color: var(--second-color);
	text-align: left;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
 }
 
 .subscribe__close-button {
	float: right;
	cursor: pointer;
	background-image: url('/assets/vectors/close-button-mobile.svg');
	background-size: contain;
	background-position: center;
	width: 7vw;
	height: 5vh;
	background-repeat: no-repeat;
	margin-right: 0.5rem;
 }

/* desktop */
@media screen and (min-width: 768px) {
	.subscribe {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-column: 4 / 13;
	}
	.subscribe__button {
		font-size: 2.8vw;
		grid-column: 4 / 13;
	}
	.subscribe__close-button {
		width: 2.5vw;
		background-image: url('/assets/vectors/close-button.svg');
	}
	.subscribe__button:hover {
		background-color: var(--second-color);
		color: var(--first-color);
	}
	.subscribe__button:hover .subscribe__close-button {
		filter: brightness(0) invert(1);
	}
}
