.layout {
	position: relative;
}

.subscribe {
	left: 1.3%;
	right: 0;
	position: absolute;
	width: 98%;
	height: 4rem;
	bottom: 2rem;
	z-index: 100;
}

.subscribe__button {
	position: absolute;
	width: 100%;
	padding: 0.6rem 0.7rem 0.3rem 1rem;
	background-color: var(--fourth-color);
	font: var(--font-large-text);
	font-size: 8vw;
	color: var(--second-color);
	text-align: left;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
 }
 
 .subscribe__close-button {
	float: right;
	cursor: pointer;
	background-image: url('/assets/vectors/close-button-mobile.svg');
	background-size: contain;
	background-position: center;
	width: 6vw;
	height: 5vh;
	background-repeat: no-repeat;
	margin-right: 0.5rem;
 }

/* desktop */
@media screen and (min-width: 768px) {
	.subscribe {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
	.subscribe__button {
		font-size: 2rem;
		grid-column: 4 / 13;
	}
	.subscribe__close-button {
		width: 2rem;
		background-image: url('/assets/vectors/close-button.svg');
	}
	.subscribe__button:hover {
		background-color: var(--second-color);
		color: var(--first-color);
	}
	.subscribe__button:hover .subscribe__close-button {
		filter: brightness(0) invert(1);
	}
}

@media screen and (max-width: 768px) {
	.subscribe {
		position: fixed;
		width: 97.5%;
		height: 4rem;
		bottom: 1rem;
		z-index: 100;
	}

	.subscribe__button {
		width: 100%;
		height: 4rem;
		padding: 0.6rem 0.7rem 0.3rem 1rem;
		font-size: 7vw;
	}

	.subscribe__close-button {
		margin-right: 3%;
	}
}
